.story-image {
	float: left;
	margin: 2px;
	min-width: 40%;
	max-width: 40%
}

.story-content-panel {
	margin-left: 44%;
}

.story-content {
	height: 75px;
	overflow: hidden;
}

.story-content-more {
	float: right;
	margin-right: 5px;
}

@media screen and (max-width: 568px) {
	.text-responsive {
		font-size: 20px;
	}
}

@media screen and (max-width: 568px) {
	.text-responsive {
		font-size: 0.8em;
	}
}
.dialog {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	background: #FFFFFF;
	display: none;
}
.dialog-title {
	position: fixed;
	background: #2B669A;
	color: #FFFFFF;
	width: 100%;
	left: 0;
	top: 0;
}
.dialog-title-text {
	margin-left: 3px;
	float: left;
	display: inline;
	width: 90%;
}

.dialog-content {
	margin-top: 55px;
	margin-left: 3px;
	margin-right: 3px;
}

.dialog-title-close {
	margin-right: 10px;
	float: right;
	display: inline;
}

.dialog-footer {
	margin-right: 10px;
}

#storyContent {
	background-color: #FFFFFF;
	border: 0px;
}